.form
  = form_for [@group, @message] do |f|
    = f.text_field :text, class: 'form__text-field', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__image-label' do
        = fa_icon 'picture-o', class: 'image-icon fa-lg'
        = f.file_field :image, class: 'hidden upload_image'
    = f.submit 'Send', class: 'form__submit'
