.message-text
  .message-text__name
    = "akari"
  .message-text__date
    = "2018/05/03"
  .message-text__text
    = "ア〜〜〜〜〜"

.message-text
  .message-text__name
    = "akari"
  .message-text__date
    = "2018/05/03"
  .message-text__text
    = "ア〜〜〜〜〜"

.message-text
  .message-text__name
    = "akari"
  .message-text__date
    = "2018/05/03"
  .message-text__text
    = "ア〜〜〜〜〜"

.message-text
  .message-text__name
    = "akari"
  .message-text__date
    = "2018/05/03"
  .message-text__text
    = "ア〜〜〜〜〜"

.message-text
  .message-text__name
    = "akari"
  .message-text__date
    = "2018/05/03"
  .message-text__text
    = "ア〜〜〜〜〜"
