.side-block
  .user
    %h4.user__name
      = "あかり"

  .groups
    .groups__name
      = "グループ名"
    .groups__text
      = "最新メッセージ"

  .groups
    .groups__name
      = "グループ名"
    .groups__text
      = "最新メッセージ"

  .groups
    .groups__name
      = "グループ名"
    .groups__text
      = "最新メッセージ"

