!!!
%html
  %head
    %header
      = render 'messages/flash'
    .body
      .top-contents
        .top-contents__left
          = render 'users/top-contents__left'
        .top-contents__right
          = render 'messages/top-contents__right'
      .border
      .middle-contents
        .middle-contents__left
          = render partial: 'groups/group',collection: @groups
        .middle-contents__right
          = render partial: 'message', collection: @messages
      .bottom-contents
        .bottom-contents__left
        = render 'messages/form'
