!!!
%html
  %head
    .body
      .notice
        = render partial: "messages/flash"
      .side-block
        = render partial: "messages/side-block"
      .contents
        .contents-header
          = render partial: 'messages/header', collection: @members
        .border
        .contents-message
          = render partial: 'message', collection: @messages
        .contents-form
          = render partial: "messages/form"
